.item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 6px;
}
.item:not(:last-child) {
  margin-bottom: 5px;
}

.status {
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
}

.isOnline {
  composes: status;
  background-color: green;
}
